@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{


  @keyframes girar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }

  @keyframes girarP {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
  }

}