@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.animate-pulse-slow {
  animation: pulse-slow 2.5s infinite ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
}

@layer components{


  @keyframes girar {
    from{
        transform: rotate(0deg);
        color:#a04e65
    }
    to{
        transform: rotate(360deg);
    }
  }

  @keyframes girarP {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
  }

  @keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
}




}

