@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.animate-pulse-slow {
  animation: pulse-slow 2.5s infinite ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
}


  @keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
}



/* Animação personalizada para o menu */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-mobile {
  animation: slideDown 0.3s ease-out;
}

/* Melhorar acessibilidade */
@media (prefers-reduced-motion: reduce) {
  .menu-mobile {
    animation: none;
  }
}



@media (max-width:800px){
  .lg\:grid-cols-3.grid-card{
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


@media (max-width:550px){
  .lg\:grid-cols-3.grid-card{
     grid: none;
     align-items: center;
     justify-content: center;
  }
}