name: Generate Snake Game

on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jasonmayes/gha-snake-game@master
